@model GroupPageInfo
@inject WikiOptions WikiOptions

<div class="wiki-site-subtitle">From @WikiOptions.SiteName</div>
@if (Model?.Item is not null)
{
    <div class="wiki-parser-output">@Html.Raw(Model.Item.Html)</div>
}
@if (Model?.Users?.Count > 0)
{
    <h2>Members</h2>
    <p>This group has the following @($"{Model.Users.Count:N0}") members.</p>
    <ul class="wiki-group-list">
        @foreach (var user in Model.Users)
        {
            <li>
                <a class="wiki-username wiki-username-link @(user.PageExists ? string.Empty : "wiki-link-missing")"
                   asp-route-title="@user.Id"
                   asp-route-wikiNamespace="@WikiOptions.UserNamespace"
                   asp-action="Read"
                   title="Visit the user page for @(user.Entity?.DisplayName ?? user.Id)">@(user.Entity?.DisplayName ?? user.Id)</a>
            </li>
        }
    </ul>
}
